<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<title th:text="${exam.title}"></title>
</head>
<body>
	<div class="centered-header-div">
		<div class="desc-contents">
			Welcome to the exam page <span style="font-weight: bold;" th:text="${username}"></span>
			<a th:href="@{/exam/finish/logout}">Logout</a>
		</div>
		
		<div class="desc-contents">
			<a th:href="@{/exam/finish/home}">Exam list</a>
		</div>
	</div>
	
	<div class="centered-header-div">
		<h2 th:text="${exam.title}"></h2>
		<div class="desc-contents">
			Select a question: 
			<select name="question">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
	</div>
</body>
</html>