<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<title th:text="${exam.title}"></title>
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/otm-timer.js}"></script>
</head>
<body>
		<div class="centered-header-div">
			<h2 th:text="${exam.title} + ' (' + ${username} + ') - Summary'" class="float-left no-top-margin"></h2>
			<div id="timer" class="timer"></div>
			<div id="examId" style="display:none;" th:text="${exam.id}"></div>
		</div>
		<div style="clear:both;"></div>
		<div class="answers-div">
			<div class="question-title" th:text="'Number of answered questions : ' + ${rate}"></div>
			
			<div class="answer-item">
				<table class="summary">
					<tr th:each="question : ${questions}">
						<td th:text="${question.order}"></td>
						<td th:text="${question.title}"></td>
						<td><img th:src="@{/images/answered-} + ${question.answered} + '.png'" class="status-icon"/></td>
						<td>
							<a th:href="@{/assessment/question} + '/' + ${question.questionId}" class="review-link">Review</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="centered-header-div right-aligned-button">
			<a th:href="@{/assessment/terminate/} + ${exam.id}" class="review-link">Finish</a>
		</div>
</body>
</html>