@CHARSET "ISO-8859-1";

body {
	padding: 20px;	
}

h1 {
	font-family: monospace;
	font-size: 19px;
	font-weight: bold;
	color: silver;
}

a {
	outline: none;
	text-decoration: none;
	font-family: monospace;
	color: #505050;
}

a:hover {
	outline: none;
	text-decoration: none;
	font-family:monospace;
	color: #505090;
}

a:focus {
	outline: none;
	text-decoration: none;
	font-family:monospace;
	color: #505090;
}

table {
	width: 450px;
}

.status-icon {
	width: 32px;
}

table .exam-list {
	width: 500px;
	margin-left: 10px;
}

table .summary {
	width: 500px;
}

.summary td {
	font-family: monospace;
	color: #505050;
	padding: 5px;
}

.answered-true {
	background-color: #66cc66;	
}

.answered-false {
	background-color: #cc6666;	
}

h2 {
	font-family: cursive;
	font-size: 16px;
	color: gray;
}

h3 {
	font-family: monospace;
	font-size: 13px;
	color: gray;
}

.desc-contents {
	font-family: monospace;
	font-size: 15px;
	color: gray;
}

.centered-login-div {
	width: 500px;
    background: #efefef;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 4px;
}

.centered-header-div {
	width: 500px;
    padding: 20px;
    margin: 0 auto;
}

.submit-button {
	margin-top: 10px;
}

.answers-div {
	width: 500px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.question-title {
	font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    color: #888;
    margin-bottom: 10px;
}

.question-description {
	font-family: verdana;
    font-size: 14px;
    color: #998;
    margin-bottom: 10px;
}

.right-aligned-button {
	text-align: right;
}