<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<title>Login page</title>
</head>
<body>
	<div class="centered-header-div">
		<h1 th:text="'Title : ' + ${exam.title}">
		</h1>
		
		<h2 th:text="'Description : ' + ${exam.description}"></h2>
		
		<h3 th:text="'Duration : ' + ${exam.duration} + ' minutes'"></h3>
		
		<div class="desc-contents">
			Please login to start the exam.
		</div>
	</div>
	
	<div class="centered-login-div">
		<form th:action="@{/home}" method="POST">
			<table>
				<tr>
					<td>User name: </td>
					<td><input type="text" name="username" th:placeholder="username"/></td>
				</tr>
				
				<tr>
					<td>Password: </td>
					<td><input type="password"  name="password" th:placeholder="password"/></td>
				</tr>
				
				<tr>
					<td colspan="2" style="text-align: center;">
						<input type="submit" class="submit-button" value="Login"/>
					</td>
				</tr>
			</table>
			
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Wrong user name / password. Please try again</p>
			</div>
		</form>
	</div>
</body>
</html>